.page__blog{
    background: #F5F5F5;
    .title2__left .main__title h1 {
        padding-top: 16px;
        margin-left: 33px;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 700;
        font-size: 68px;
        line-height: 70px;
        color: #FFFFFF;
    }
}