.page__contact{
    background: #F7F7F7;
    .services__image{
        display: none;
    }
    .tabs__left{
        width: 579px;
    }
    .tabs__button{
        font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.1em;

color: #2A2A2A;

        padding: 12px 43px;
        border: 4px solid #2A2A2A;
    }
    .tabs__wrapper {
        padding: 0 9px;;
    }
    .tabs__btn{
        margin-top: 26px;
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    #textarea-contact{
        padding-left: 18px;
        width: 536px;
        height: 148px;
        border: none;
        outline: none;
                }
                #textarea-contact::placeholder{
                    font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 27px;
            letter-spacing: 0.04em;
            color: #666666;
            padding-top: 13px;
                }
                .tabs__left{
                    margin-right: 76px;
                }
    .tabs__input{
        margin-bottom: 24px;
        max-width: 579px;
       
        input{
            padding-left: 18px;
            width: 100%;
            background: #FFFFFF;
            font-family: 'Open Sans';
            border: none;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 27px;
letter-spacing: 0.04em;
color: #666666;
outline: none;
height: 53px;
        }
    }
    input::placeholder{
       
        font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 27px;
letter-spacing: 0.04em;
color: #666666;
    }
    .title__right{
        width: 438px;
    }
    .title__left .main__subtitle {
        max-width: 745px;
    }
    .title__left {
        padding: 93px 83px 61px 174px;
        height: 526px;
    background-size: cover;
    }
    .services__items{
        margin-bottom: 43px;
    }
    .services__item-subtitle {
        p{
            font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 27px;
letter-spacing: 0.04em;
color: #2A2A2A;
        }
    }
    .services__item{
       
        &-subtitle{
            max-width: 309px;
        }
    }
    .services__item:nth-child(2){
        .services__item-subtitle{
            width: 126px;
        }
    }
    .services__item:last-child{
        .services__item-subtitle{
            width: 160px;
        }
    }
    .social__item{
        width: 22px;
        height: 22px;
        margin-right: 27px;
    }
    .social{
        display: flex;
    }
    .title__right .services__item .services__text {
        margin-left: 0px;
    }
   
}
@media screen and (max-width:1024px) {
     .services__item{
        display: flex;
        flex-direction: column;
        margin-right: 40px;
    }
    .page__contact .tabs__btn{
        justify-content: center;
    }
    .title__right .services__item-title h6 {
     line-height: 30px;
    }
    .page__contact .services__item-subtitle {
        max-width: 180px;
    }
    .page__contact .title__right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services__items {
        justify-content: center;
    }
    .title__right {
        padding: 30px 58px;
        padding-left: 58px;
    }
    .page__contact .tabs__left{
        margin-right: 0;
    }
    .page__contact .tabs__inputs{
        margin-bottom: 20px;
    }
  
  

}
@media screen and (max-width:768px) {
    .services__item{
       margin-right: 0px;
   }
   .page__contact .title__left {
    padding: 93px 83px 61px 30px;
}
.page__contact .tabs__input {
    margin-bottom: 24px;
    width: 353px;
}
.page__contact .tabs__inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page__contact #textarea-contact{
    width: 353px;
}
}
@media  screen and (max-width:425px) {
    .title__left .main__btn {
        padding: 19px 15.5px;
    }
   
}
@media  screen and (max-width:375px) {
    .page__contact .tabs__input {
        margin-bottom: 24px;
        width: 300px;
    }
    .page__contact .tabs__inputs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .page__contact #textarea-contact{
        width: 300px;
    }
   
}