.page__contact{
    background: #F7F7F7;
    .services__image{
        display: none;
    }
    .tabs__left{
        width: 579px;
    }
    .tabs__button{
        font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.1em;

color: #2A2A2A;

        padding: 12px 43px;
        border: 4px solid #2A2A2A;
    }
    .tabs__wrapper {
        padding: 0 9px;;
    }
    .tabs__btn{
        margin-top: 26px;
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    #textarea-contact{
        padding-left: 18px;
        width: 536px;
        height: 148px;
        border: none;
        outline: none;
                }
                #textarea-contact::placeholder{
                    font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 27px;
            letter-spacing: 0.04em;
            color: #666666;
            padding-top: 13px;
                }
                .tabs__left{
                    margin-right: 76px;
                }
    .tabs__input{
        margin-bottom: 24px;
        max-width: 579px;
       
        input{
            padding-left: 18px;
            width: 100%;
            background: #FFFFFF;
            font-family: 'Open Sans';
            border: none;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 27px;
letter-spacing: 0.04em;
color: #666666;
outline: none;
height: 53px;
        }
    }
    input::placeholder{
       
        font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 27px;
letter-spacing: 0.04em;
color: #666666;
    }
    .title__right{
        width: 438px;
    }
    .title__left .main__subtitle {
        max-width: 745px;
    }
    .title__left {
        padding: 93px 83px 61px 174px;
        height: 526px;
    background-size: cover;
    }
    .services__items{
        margin-bottom: 43px;
    }
    .services__item-subtitle {
        p{
            font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 27px;
letter-spacing: 0.04em;
color: #2A2A2A;
        }
    }
    .services__item{
       
        &-subtitle{
            max-width: 309px;
        }
    }
    .services__item:nth-child(2){
        .services__item-subtitle{
            width: 126px;
        }
    }
    .services__item:last-child{
        .services__item-subtitle{
            width: 160px;
        }
    }
    .social__item{
        width: 22px;
        height: 22px;
        margin-right: 27px;
    }
    .social{
        display: flex;
    }
    .title__right .services__item .services__text {
        margin-left: 0px;
    }
   
}
.contact__tell{
    padding: 58px 115px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    &-title{
        font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 25px;
color: #FFB400;
    }
    &-subtitle{
        font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 50px;
margin-top: 18px;
color: #2A2A2A;
    }
    &-btn{
        font-family: 'Rubik';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.1em;
color: #FFB400;
padding: 24px 19px ;
border: 5px solid #FFB400;
background:none;
    }
}
.contact{
    &__img{
        background:url(../../img/Map.png);
       height:404px;
       background-size:cover;
    }
   }
@media screen and (max-width:1024px) {
     .services__item{
        display: flex;
        flex-direction: column;
        margin-right: 40px;
    }
    .page__contact .tabs__btn{
        justify-content: center;
    }
    .title__right .services__item-title h6 {
     line-height: 30px;
    }
    .page__contact .services__item-subtitle {
        max-width: 180px;
    }
    .page__contact .title__right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .services__items {
        justify-content: center;
    }
    .title__right {
        padding: 30px 58px;
        padding-left: 58px;
    }

    .page__contact .tabs__left{
        margin-right: 0;
    }
    .page__contact .tabs__inputs{
        margin-bottom: 20px;
    }
  
  


    .contact__tell {
        padding: 58px 60px;
    }

}
@media screen and (max-width:820px) {
    .services__item{
       margin-right: 0px;
   }
   .page__contact .title__left {
    padding: 93px 83px 61px 30px;
}

.page__contact .tabs__input {
    margin-bottom: 24px;
    width: 353px;
}
.page__contact .tabs__inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page__contact #textarea-contact{
    width: 353px;
}

.contact__tell-subtitle {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    margin-top: 18px;
    color: #2A2A2A;
}
.contact__tell {
    padding: 58px 52px;
}
}
@media screen and (max-width: 733px){
.contact__tell {
    padding: 30px 20px;
}}
@media screen and (max-width:650px) {
    .contact__tell-title {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 45px;
        color: #FFB400;
    }
    .contact__tell-subtitle {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 35px;
        margin-top: 18px;
        color: #2A2A2A;
    }
}
@media screen and (max-width:610px) {
    .contact__tell-btn {
        font-family: "Rubik";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.1em;
        color: #FFB400;
        padding: 14px 0px;
        border: 5px solid #FFB400;
        background: none;
    }
}
@media screen and (max-width:570px) {
    .contact__tell{
        flex-direction: column;
        align-items:center;
        justify-content: center;
        &-title{
            text-align: center;
        }
        &-subtitle{
            text-align: center;
        }
        &-btn{
            padding: 15px 11px ;
            margin-top: 15px;
        }
    }

}
@media  screen and (max-width:425px) {
    .title__left .main__btn {
        padding: 19px 15.5px;
    }

   
}
@media  screen and (max-width:375px) {
    .page__contact .tabs__input {
        margin-bottom: 24px;
        width: 300px;
    }
    .page__contact .tabs__inputs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .page__contact #textarea-contact{
        width: 300px;
    }
   
}

@media screen and (max-width: 380px){
.contact__tell-title {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;
    color: #FFB400;
}}
@media screen and (max-width: 320px){
    .contact__tell{
        &-title {
        font-size: 28px;
    }
    &-subtitle{
        font-size: 20px;
    }
}}

