<section class="project">
    <div class="container">
        <div class="project__inner">
    <div class="project__items">
        <div class="project__item">
            <div class="project__item-left">
                <h2 class="project__item-title">About this Project</h2>
                <div class="line"></div>
                <p class="project__item-subtitle">Lectus erat, consectetur eu sapien eget rhoncus consectetur sem. Proin cursus, dolor a mollis consectetur, risus dolor fermentum massa, a commodo elit dui sit amet risus.
                </p>
                <ul class="project__item-list">
                    <li class="project__item-link">Maecenas ornare nisl </li>
                    <li class="project__item-link">A tortor ultrices bibendum</li>
                    <li class="project__item-link">Nulla fermentum</li>
                    <li class="project__item-link">Metus quis </li>
                    <li class="project__item-link">Sodales tristique</li>
                </ul>
            </div>
            <div class="project__item-right">
                <img src="../img/project__item-img.png" alt="">
            </div>
        </div>
        <div class="project__item project__item-mb">
            <img src="../img/project__item-img2.png" alt="">
        </div>
        <div class=" project__item project__item2">
            <div class="project__item-left project__item2-left">
                <img src="../img/project__item-img3.png" alt="">
            </div>
            <div class="project__item-right project__item2-right">
                <p class="project__item1-subtitle">Lorem ipsum dolor sit consectetur adipiscing elit. Nullam lectus erat, consectetur eu sapien eget rhoncus consectetur sem.</p>
                <p class="project__item1-subtitle">Proin cursus, dolor a mollis consectetur, risus dolor fermentum massa, a commodo elit dui sit amet risus. Maecenas ornare nisl a tortor ultrices bibendum. Nulla fermentum, metus quis sodales tristique, augue mauris molestie augue non feugiat ligula neque nec felis.</p>
                <p class="project__item1-subtitle project__item1-subtitle-mt">Lectus erat, consectetur eu sapien eget rhoncus consectetur sem. Proin cursus, dolor a mollis consectetur, risus dolor fermentum massa, a commodo elit dui sit amet risus. Maecenas ornare nisl a tortor ultrices bibendum. Nulla fermentum, metus quis sodales tristique, augue mauris molestie augue, non feugiat ligula neque nec felis.</p>
            </div>
        </div>
    </div>
</div>
</div>
</section>