<div class="blog__news">
    <div class="container">
        <div class="blog__news-wrapper">
            <div class="blog__news-items">
                 <div class="blog__news-item">
                <div class="blog__news-image"><img src="../img/blog__item1.png" alt=""></div>
                <div class="blog__news-descr">
                    <div class="blog__news-title"><h4>Nunc Volutpat Venenatis</h4></div>
                    <span>May 9, 2014 | Category</span>
                    <div class="blog__news-subtitle"><p>Nulla a odio sed magna congue condimentum. Pellentesque convallis enim nec libero vulputate, et rhoncus urna placerat. Phasellus mattis, diam vel vehicula facilisis, erat leo dapibus augue, at mollis tellus ex non nisi.</p></div>
                </div>
            </div>
            <div class="blog__news-item">
                <div class="blog__news-image"><img src="../img/blog__item2.png" alt=""></div>
                <div class="blog__news-descr">
                    <div class="blog__news-title"><h4>Vestibulum Nisl Felis</h4></div>
                    <span>May 9, 2014 | Category</span>
                    <div class="blog__news-subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam justo et nibh venenatis aliquet. </p></div>
                </div>
            </div>
            <div class="blog__news-item">
                <div class="blog__news-image"><img src="../img/blog__item3.png" alt=""></div>
                <div class="blog__news-descr">
                    <div class="blog__news-title"><h4>Proin Eu Augue Efficitur</h4></div>
                    <span>May 9, 2014 | Category</span>
                    <div class="blog__news-subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam justo et nibh venenatis aliquet.</p></div>
                </div>
            </div>
            <div class="blog__news-item">
                <div class="blog__news-image"><img src="../img/blog__item4.png" alt=""></div>
                <div class="blog__news-descr">
                    <div class="blog__news-title"><h4>Nunc Volutpat Venenatis</h4></div>
                    <span>May 9, 2014 | Category</span>
                    <div class="blog__news-subtitle"><p>Nulla a odio sed magna congue condimentum. Pellentesque convallis enim nec libero vulputate, et rhoncus urna placerat. Phasellus mattis, diam vel vehicula facilisis, erat leo dapibus augue, at mollis tellus ex non nisi. Maecenas urna sapien, dignissim a augue vitae, porttitor luctus urna. Morbi scelerisque semper congue. </p></div>
                </div>
            </div>
            <div class="blog__news-item">
                <div class="blog__news-image"><img src="../img/blog__item5.png" alt=""></div>
                <div class="blog__news-descr">
                    <div class="blog__news-title"><h4>Donec Sit Amet Nibh</h4></div>
                    <span>May 9, 2014 | Category</span>
                    <div class="blog__news-subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam justo et nibh venenatis aliquet.  </p></div>
                </div>
            </div>
            <div class="blog__news-item">
                <div class="blog__news-image"><img src="../img/blog__item6.png" alt=""></div>
                <div class="blog__news-descr">
                    <div class="blog__news-title"><h4>Maecenas Fringilla Augue</h4></div>
                    <span>May 9, 2014 | Category</span>
                    <div class="blog__news-subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquam justo et nibh venenatis aliquet.Donec quis felis imperdiet, vestibulum est ut, pulvinar dolor.  </p></div>
                </div>
            </div>
            </div>
           
        </div>
    </div>
</div>