<section class="client">
    <div class="container">
        <div class="client__wrapper">
            <div class="projects__title"><h2>Client Testimonials</h2></div>
            <span class="line"></span>
            <div class="projects__items">
                <div class="client__item">
                    <div class="client__item-image"><img src="../img/star.png" alt="">
                        <img src="../img/star.png" alt="">
                        <img src="../img/star.png" alt="">
                        <img src="../img/star.png" alt="">
                        <img src="../img/star.png" alt=""></div>
                    <div class="client__item-subtitle">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien, dignissim tristique tellus sed faucibus nullam.”</div>
                    <div class="client__item-author">John Smith</div>
                </div>
                <div class="client__item">
                    <div class="client__item-image"><img src="../img/star.png" alt="">
                        <img src="../img/star.png" alt="">
                        <img src="../img/star.png" alt="">
                        <img src="../img/star.png" alt="">
                        <img src="../img/star.png" alt=""></div>
                    <div class="client__item-subtitle">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien, dignissim tristique tellus sed faucibus nullam.”</div>
                    <div class="client__item-author">John Smith</div>
                </div>
                <div class="client__item">
                    <div class="client__item-image"><img src="../img/star.png" alt="">
                        <img src="../img/star.png" alt="">
                        <img src="../img/star.png" alt="">
                        <img src="../img/star.png" alt="">
                        <img src="../img/star.png" alt=""></div>
                    <div class="client__item-subtitle">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien, dignissim tristique tellus sed faucibus nullam.”</div>
                    <div class="client__item-author">John Smith</div>
                </div>
            </div>
            <div class="client__image"><img src="../img/Clients.png" alt=""></div>
        </div>
    </div>
</section>