<section class="experience">
    <div class="container">
    </div>
    <div class="experience__wrapper">
        <div class="experience__left">
           <h4 class="experience__left-title">We’ve Been Building For Over 10 Years</h4>
            <div class="line"></div>
           <p class="experience__left-subtitle experience__left-subtitle1">Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Sapien, dignissim tristique tellus sed faucibus nullam. Tincidunt mauris ut
            quam sed mauris proin feugiat. Scelerisque lorem posuere iaculis nunc amet phasellus.</p>
            <button class="experience__left-btn">LEARN MORE</button>
          
        </div>
        <div class="experience__right">
            <div class="experience__right-inner">
                <video src="" poster="../img/poster.png"></video>
            </div>
            <div class="experience__bottom">
                <div class="experience__bottom-inner">
                    <div class="experience__bottom-item">
                        <div class="experience__bottom-text">
                            <h4 class="experience__bottom-title">Call for a Quote</h4>
                            <p class="experience__bottom-subtitle">(346) 234-6973</p>
                        </div>
                    </div>
                    <div class="experience__bottom-item experience__bottom-bg">
                        <button class="experience__bottom-btn">
                            ONLINE ESTIMATE FORM
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>