<footer class="footer">
  
    <div class="footer__wrapper">
      <div class="footer__left">
        <div class="contact__title">Contact Us</div>
        <div class="line"></div>
        <form action="" class="form">
          <div class="contact-inputs">
          <input  class="contact-input" type="text" placeholder="Name">
          <input  class="contact-input" type="text" placeholder="Email"></div> 
          <div class="text__area">
            <textarea class="contact__textarea" name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
          </div>
          <div class="form__button">
              <button type="submit" class="form__btn">SEND MESSAGE</button>
          </div>
        
        </form>
        
        
       

      </div>
      <div class="footer__right">
        <div class="footer__header">
          <div class="footer__icons">
            <div class="footer__icon">
              <img class="footer__img" src="../img/svg/facebook.svg" alt="">
              <img class="footer__img" src="../img/svg/twitter.png" alt="">
              <img class="footer__img footer__img3" src="../img/svg/linkedin.svg" alt="">
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="footer__point">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
          </div>
          <div class="footer__tell">
            <h4>+00 123 456 78</h4>
          </div>
          <div class="footer__email">
            <h4>constractioninc@gmail.com</h4>
          </div>
        </div>
      </div>
    </div>
  
</footer>
