<section class="get">
    <div class="container">
        <div class="get__text">
            <h2 class="get__title">Get a Quote For Your Project</h2>
            <button class="get__btn">FREE QUOTE</button>
        </div>
    </div>
    <div class="get__wrapper">
        <div class="get__right">
            <img class="get__right-img" src="../img/get.png" alt="">
        </div>
        <div class="get__left">
            <div class="get__left-inner">
                <h4 class="get__left-title">No Project Too Big Or Too Small</h4>
                <div class="line"></div>
                <div class="get__left-items">
                    <div class="get__left-block1">
                        <p class="get__left-subtitle get__left-subtitle1">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Sapien, dignissim tristique tellus sed faucibus nullam. Tincidunt mauris ut
                            quam sed mauris proin feugiat. Scelerisque lorem posuere iaculis nunc amet phasellus.</p>
                        <p class="get__left-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien,
                            dignissim tristique tellus sed faucibus nullam. </p>
                    </div>
                    <div class="get__left-block2">
                        <p class="get__left-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien,
                            dignissim tristique tellus sed faucibus nullam. Tincidunt mauris ut quam sed mauris proin
                            feugiat. Scelerisque lorem posuere iaculis nunc amet phasellus.
                        </p>
                        <button class="get__left-btn">LEARN MORE</button>
                    </div>
                </div>
            </div>
            <div class="get__bottom">
                <div class="get__bottom-inner">
                    <div class="get__bottom-item">
                        <div class="get__bottom-text">
                            <h4 class="get__bottom-title">12</h4>
                            <p class="get__bottom-subtitle">YEARS ESTABLISHED</p>
                        </div>
                    </div>
                    <div class="get__bottom-item get__bottom-bg">
                        <div class="get__bottom-text">
                            <h4 class="get__bottom-title get__bottom-color">250</h4>
                            <p class="get__bottom-subtitle get__bottom-color">COMPLETED PROJECTS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>