<section class="get__about">
    <div class="container">
    </div>
    <div class="get__wrapper">
        <div class="get__right">
            <div class="get__right-title">Only the Best</div>
            <div class="get__right-items">
                <div class="get__right-item">
                    <div class="get__right-img">  <img src="../img/strelka.png" alt=""></div>
                     <div class="get__item-text">
                        <div class="get__item-title">Eco Friendly Construction</div>
                        <p class="get__item-subtitle">Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. </p>
                     </div>
                </div>
                <div class="get__right-item">
                    <div class="get__right-img">  <img src="../img/strelka.png" alt=""></div>
                     <div class="get__item-text">
                        <div class="get__item-title">The Newest Technology Repairs</div>
                        <p class="get__item-subtitle">Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. </p>
                     </div>
                </div>
                <div class="get__right-item">
                    <div class="get__right-img">  <img src="../img/strelka.png" alt=""></div>
                     <div class="get__item-text">
                        <div class="get__item-title">High Quality Construction Management</div>
                        <p class="get__item-subtitle">Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. </p>
                     </div>
                </div>
            </div>
            <div class="get__right-btn">FREE QUOTE</div>
        </div>
        <div class="get__left">
            <div class="get__left-inner">
               <img src="../img/about__img.png" alt="">
            </div>
            <div class="get__bottom">
                <div class="get__bottom-inner">
                    <div class="get__bottom-item">
                        <div class="get__bottom-text">
                            <h4 class="get__bottom-title">12</h4>
                            <p class="get__bottom-subtitle">YEARS ESTABLISHED</p>
                        </div>
                    </div>
                    <div class="get__bottom-item get__bottom-bg">
                        <div class="get__bottom-text">
                            <h4 class="get__bottom-title get__bottom-color">250</h4>
                            <p class="get__bottom-subtitle get__bottom-color">COMPLETED PROJECTS</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="get__info">
                <div class="get__info-item">
                     <div class="get__number">24</div>
                     <div class="get__descr">FIELD WORKERS</div>
                </div>
                <div class="get__info-item">
                    <div class="get__number">18</div>
                    <div class="get__descr">OFFICE STAFF</div>
               </div>
               
            </div>
        </div>
    </div>

</section>