<header class="header">
  <div class="container">

    <div class="header__wrapper">
      <div class="header__left">
        <div class="logo"><h3>Construction Company Landing</h3></div>
      </div>
      <div class="header__right">
       <nav class="nav">
        <ul class="list">
          <li><a href="../project.html">Project</a></li>
          <li><a href="../blog.html">Blog</a></li>
          <li><a href="../portfolio.html">Portfolio</a></li>
          <li><a href="../service.html">Service</a></li>
          <li><a href="../services.html">Services</a></li>
          <li><a href="../contact.html">Contact</a></li>
          <li><a href="../about.html">About</a></li>
          <li><a href="../home.html">Home</a></li>
        </ul>
        <div class="close__btn"><img src="../img/close-btn.png" alt=""></div>
       </nav>
       <button class="cart-btn"><img src="../img/svg/cart.svg" alt=""></button>
      </div>


      <button class="burger__btn"><img src="../img/burger.png" alt=""></button>
    </div>
  </div>
</header>
