<section class="home__items">
    <div class="container">
        <div class="home__items-wrapper">
            <div class="home__item">
                <div class="home__item-image"><img src="../img/svg/home_item1.svg" alt=""></div>
                <div class="home__item-text">
                    <div class="home__item-title"><h6>Building Construction</h6></div>
                    <div class="home__item-subtitle"><p>Lorem ipsum dolor sit consectetur adipiscing elit. Nullam lectus erat</p></div>
                </div>
            </div>
            <div class="home__item">   
                <div class="home__item-image"><img src="../img/svg/home_item2.svg" alt=""></div>
                <div class="home__item-text">
                    <div class="home__item-title"><h6>Building Repairs</h6></div>
                    <div class="home__item-subtitle"><p>Lorem ipsum dolor sit consectetur adipiscing elit. Nullam lectus erat</p></div>
                </div>
            </div>
        <div class="home__item">
            <div class="home__item-image"><img src="../img/svg/home__item4.svg" alt=""></div>
            <div class="home__item-text">
                <div class="home__item-title"><h6>Demolition</h6></div>
                <div class="home__item-subtitle"><p>Lorem ipsum dolor sit consectetur adipiscing elit. Nullam lectus erat</p></div>
            </div>
        </div>
        <div class="home__item">   
            <div class="home__item-image"><img src="../img/svg/home__item5.svg" alt=""></div>
            <div class="home__item-text">
                <div class="home__item-title"><h6>Building Repairs</h6></div>
                <div class="home__item-subtitle"><p>Lorem ipsum dolor sit consectetur adipiscing elit. Nullam lectus erat</p></div>
            </div>
        </div>
        <div class="home__item">
            <div class="home__item-image"><img src="../img/svg/home_item3.svg" alt=""></div>
            <div class="home__item-text">
                <div class="home__item-title"><h6>Demolition</h6></div>
                <div class="home__item-subtitle"><p>Lorem ipsum dolor sit consectetur adipiscing elit. Nullam lectus erat</p></div>
            </div>
        </div>
        <div class="home__item">
            <div class="home__item-image"><img src="../img/svg/home__item6.svg" alt=""></div>
            <div class="home__item-text">
                <div class="home__item-title"><h6>Demolition</h6></div>
                <div class="home__item-subtitle"><p>Lorem ipsum dolor sit consectetur adipiscing elit. Nullam lectus erat</p></div>
            </div>
        </div>
    </div>
</section>