<section class="projects">
    <div class="container">
        <div class="projects__wrapper">
            <div class="projects__title"><h2>Latest Projects</h2></div>
            <span class="line"></span>
            <div class="projects__items">
                <div class="projects__item">
                    <div class="projects__item-image"><img src="../img/projects-item1.png" alt=""></div>
                    <div class="projects__item-descr">
                        <div class="projects__item-title"><h4>Project Title</h4></div>
                        <div class="projects__item-subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id et euismod bibendum adipiscing et orci, fermentum. Cras tristique viverra gravida et sit egestas.</p></div>
                        <div class="projects__item-btn"><button class="projects__item-button">VIEW PROJECT</button></div>
                    </div>
                </div>
                <div class="projects__item">
                    <div class="projects__item-image"><img src="../img/projects-item2.png" alt=""></div>
                    <div class="projects__item-descr">
                        <div class="projects__item-title"><h4>Project Title</h4></div>
                        <div class="projects__item-subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id et euismod bibendum adipiscing et orci, fermentum. Cras tristique viverra gravida et sit egestas.</p></div>
                        <div class="projects__item-btn"><button class="projects__item-button">VIEW PROJECT</button></div>
                    </div>
                </div>
                <div class="projects__item">
                    <div class="projects__item-image"><img src="../img/projects-item3.png" alt=""></div>
                    <div class="projects__item-descr">
                        <div class="projects__item-title"><h4>Project Title</h4></div>
                        <div class="projects__item-subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id et euismod bibendum adipiscing et orci, fermentum. Cras tristique viverra gravida et sit egestas.</p></div>
                        <div class="projects__item-btn"><button class="projects__item-button">VIEW PROJECT</button></div>
                    </div>
                </div>
            </div>
            <div class="projects__btn"><button class="projects__button" >VIEW ALL</button></div>
        </div>
    </div>
</section>