<section class="projects">
    <div class="container">
        <div class="projects__wrapper">
            <div class="projects__title"><h2>@title</h2></div>
            <span class="line"></span>
            <div class="projects__items">
                <div class="projects__item">
                    <div class="projects__item-image"><img src=@obj.img alt=""></div>
                    <div class="projects__item-descr">
                        <div class="projects__item-title"><h4>@obj.title</h4></div>
                        <div class="projects__item-subtitle"><p>@obj.subtitle</p></div>
                        <div class="projects__item-btn"><button class="projects__item-button">@obj.btn</button></div>
                    </div>
                </div>
                <div class="projects__item">
                    <div class="projects__item-image"><img src=@obj2.img alt=""></div>
                    <div class="projects__item-descr">
                        <div class="projects__item-title"><h4>@obj2.title</h4></div>
                        <div class="projects__item-subtitle"><p>@obj2.subtitle</p></div>
                        <div class="projects__item-btn"><button class="projects__item-button">@obj2.btn</button></div>
                    </div>
                </div>
                <div class="projects__item">
                    <div class="projects__item-image"><img src=@obj3.img alt=""></div>
                    <div class="projects__item-descr">
                        <div class="projects__item-title"><h4>@obj3.title</h4></div>
                        <div class="projects__item-subtitle"><p>@obj3.subtitle</p></div>
                        <div class="projects__item-btn"><button class="projects__item-button">@obj3.btn</button></div>
                    </div>
                </div>
            </div>
            <div class="projects__btn"><button class="projects__button" >VIEW ALL</button></div>
        </div>
    </div>
</section>