<section class="services__block">
    <div class="services__inner">

  
    <div class="services__items">
        <div class="services__item">
            <div class="services__item-block">
            <h2 class="services__item-title">Building Construction</h2>
            <div class="line"></div>
            <div class="services__item-sub">
                <p class="services__item-subtitle">Lectus erat, consectetur eu sapien eget rhoncus consectetur sem. Proin cursus, dolor a mollis consectetur, risus dolor fermentum massa, a commodo elit dui sit amet risus. Maecenas ornare nisl a tortor ultrices bibendum. </p>
            </div>
            
            <div class="services__item-lists">
                <ul class="services__item-list">
                    <li class="services__item-link">Lectus erat consectetur 
                      </li>
                    <li class="services__item-link"> Eu sapien eget</li>
                    <li class="services__item-link">Rhoncus consectetur</li>
                    <li class="services__item-link">Proin cursus</li>
                    <li class="services__item-link">Dolor a mollis consectetur</li>
                </ul>
                <ul class="services__item-list">
                    <li class="services__item-link">Risus dolor fermentum
                       </li>
                    <li class="services__item-link">  Massa a commodo</li>
                    <li class="services__item-link">  Elit dui sit amet risus</li>
                    <li class="services__item-link"> Maecenas ornare</li>
                    <li class="services__item-link"> Nisl a tortor ultrices</li>
                </ul>
                <ul class="services__item-list">
                    <li class="services__item-link">Bibendum nulla fermentum
                       </li>
                    <li class="services__item-link"> Metus quis sodales</li>
                    <li class="services__item-link">  Tristique augue mauris</li>
                    <li class="services__item-link">  Molestie augue non</li>
                    <li class="services__item-link"> Feugiat ligula neque</li>
                </ul>
            </div>
          </div>
            <div class="services__item-btns">
                <div class="services__block-btn">
                  <button class="services__item-btn">GET A QUOTE</button>  
                </div>
                <div class="services__block-btn services__block-btn-bg">
                     <button class="services__item-btn  services__item-btn-bg">LEARN MORE</button>
                </div>
               
            </div>
      
        </div>
    </div>
    </div>
</section>
