<section class="tabs">
    <div class="container">
        <div class="tabs__wrapper">
            <div class="tabs__left">
                <div class="tabs__title"><h2>Get In Touch</h2></div>
                <div class="line"></div>
                <div class="tabs__inputs">
                    <div class="tabs__input"><input type="text" placeholder="Name"></div>
                    <div class="tabs__input"><input type="text" placeholder="Email"></div>
                    <textarea name="" id="textarea-contact" cols="30" rows="10" placeholder="Message"></textarea>
                </div>
                
                <div class="tabs__btn">
                    <button class="tabs__button">
                        SEND MESSAGE
                    </button>
                </div>
                


            </div>
            <div class="tabs__right">
                <div class="tabs__item" id="tabs1">
                    <div class="tabs__item-main">
                        <div class="tabs__item-title"><h4>Donec rutrum congue leo eget malesuada?</h4></div>
                        <div class="tabs__item-btn" data-tab="#tabs1"><img src="../img/plus.png" alt=""></div>
                    </div>
                    <div class="tabs__item-subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien, dignissim tristique tellus sed faucibus nullam. Tincidunt mauris ut quam sed mauris proin feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien, dignissim tristique tellus sed faucibus nullam. Tincidunt mauris ut quam sed mauris proin feugiat. </p></div>
                </div>
                <div class="tabs__item" id="tabs2">
                    <div class="tabs__item-main">
                        <div class="tabs__item-title"><h4>Vivamus suscipit tortor eget felis porttitor volutpat?</h4></div>
                        <div class="tabs__item-btn" data-tab="#tabs2"><img src="../img/plus.png" alt=""></div>
                    </div>
                    <div class="tabs__item-subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien, dignissim tristique tellus sed faucibus nullam. Tincidunt mauris ut quam sed mauris proin feugiat. </p></div>
                </div>
                <div class="tabs__item" id="tabs3">
                    <div class="tabs__item-main">
                        <div class="tabs__item-title"><h4>Curabitur non nulla sit amet nisl tempus?</h4></div>
                        <div class="tabs__item-btn" data-tab="#tabs3"><img src="../img/plus.png" alt=""></div>
                    </div>
                    <div class="tabs__item-subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien, dignissim tristique tellus sed faucibus nullam. Tincidunt mauris ut quam sed mauris proin feugiat. </p></div>
                </div>
                <div class="tabs__item" id="tabs4">
                    <div class="tabs__item-main">
                        <div class="tabs__item-title"><h4>Pellentesque in ipsum id orci porta dapibus?</h4></div>
                        <div class="tabs__item-btn" data-tab="#tabs4"><img src="../img/plus.png" alt=""></div>
                    </div>
                    <div class="tabs__item-subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien, dignissim tristique tellus sed faucibus nullam. Tincidunt mauris ut quam sed mauris proin feugiat. </p></div>
                </div>
                <div class="tabs__item" id="tabs5">
                    <div class="tabs__item-main">
                        <div class="tabs__item-title"><h4>Curabitur non nulla sit amet nisl?</h4></div>
                        <div class="tabs__item-btn" data-tab="#tabs5"><img src="../img/plus.png" alt=""></div>
                    </div>
                    <div class="tabs__item-subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien, dignissim tristique tellus sed faucibus nullam. Tincidunt mauris ut quam sed mauris proin feugiat. </p></div>
                </div>
            </div>
        </div>
    </div>
</section>