<section class="title4">
   
    <div class="title2__wrapper">
        <div class="title2__left">
        <div class="main__title"><h1>Framing</h1></div>
        <div class="main__subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis egestas pellentesque libero dolor in diam consequat ut.  </p></div>
        <button class="title2_btn">GET A QUOTE</button>
        </div>
       <div class="title2__right">
        <div class="title2__items">
            <div class="title2__item">
                <img src="../img/title__item1.png" alt="">
                <div class="title2__item-text">
                     <h4 class="title2__item-title">Building Construction</h4>
                <p class="title2__item-subtitle">Lorem ipsum dolor sit consectetur adipiscing elit. Nullam lectus erat</p>
                </div>
               
            </div>
            <div class="title2__item">
                <img src="../img/title__item2.png" alt="">
                <div class="title2__item-text">
                     <h4 class="title2__item-title">Building Construction</h4>
                <p class="title2__item-subtitle">Lorem ipsum dolor sit consectetur adipiscing elit. Nullam lectus erat</p>
                </div>
               
            </div>
            <div class="title2__item">
                <img src="../img/title__item3.png" alt="">
                <div class="title2__item-text">
                     <h4 class="title2__item-title">Building Construction</h4>
                <p class="title2__item-subtitle">Lorem ipsum dolor sit consectetur adipiscing elit. Nullam lectus erat</p>
                </div>
               
            </div>
        </div>
       </div>
    </div>

</section>